*{
    margin: 0;
    padding: 0;
}

header{
    padding: 15px;
    justify-self: center;
    align-items: center;
    background-color: aquamarine;
}
main{
    margin-top: 6%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#quadrado{
    padding: 0.2%;
    background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.442), rgba(128, 128, 128, 0.517));
    border: 3px blue dotted;
}
