p
{
    color: #E8DD05;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}h3
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}h4
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6
{
    color: #E8DD05;
    font-size:  medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
