*{
    margin: 0;
    padding: 0;
}
body{
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    
}
header{
    padding: 15px;
    border: 2px dotted pink;
    justify-content: center;
    align-items: center;
    display: flex; ;
    margin: 0  ;
    background-image:linear-gradient(to bottom, purple, hotpink);
    justify-content: space-evenly;
}
#imagem_titulo{
    display: flex;
    width: 24%;
    position:inherit;     
    margin: 0.4%;
    padding: 15px;
    border-radius: 30px;
    border: 1px none solid;    
    width: 100px;
}
#imagem_logo{
    display: flex;
    width: 24%;
    position:inherit;     
    margin: 0.4%;
    padding: 15px;
    border-radius: 30px;
    border: 1px none solid;
}
#conjunto{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
   width: 500px;
   margin: 0px;
   border: 2px black solid;

}
#produtos{
    display: flexbox;
    margin: 0%;
    border: 2px red solid;
    width: 80%;
    justify-self: flex-end;

}
div{
    display: grid;
    padding: 15px;
    border: 2px black dashed;
    margin: 1%;
    
}
h3{
    display: flex;
    padding: 3px;
    border: 2px black solid;
    margin: 0%;
}

aside{
    display: flex;
    flex-direction: row;
    padding: 2px;
    border: 2px black solid;
    float: left;
    width: 15%;
    height: 600px;
}

footer{
    margin: 0%;
    border: 2px red solid;
    width: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}