html{
    font-family:"MS Sans Serif", sans-serif;
    font-size: 13px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #008080;
    display: flexbox; 
    flex-wrap: wrap;
    justify-content: center;
}
header{
    padding: 1px;
    background-color: blue;
    border: 6px inset rgb(161, 161, 161);
    align-items: center;
    color: white;
    width: auto;
    margin: 0;

}

section{
    margin-top: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30%;
}
#lista{

    background-color: #c3c3c3;
    border: #818181 inset 3px;
    color: white;
    padding: 2%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#res{
    background-color: #c3c3c3;
    border: #818181 inset 3px;
    color: white;
    padding: 2%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer{
    padding: 30px;
    background-color: #c3c3c3;
    border: #818181 inset 3px;
    color: white;
}
div{
    padding: 2px;
    margin: 10%;
    margin-top: 30px;
    border: black 2px solid;
    gap: 20px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: start; 
}